@font-face {
    font-family: header;
    src: url("./Gamer.ttf");
}

@font-face {
    font-family: categories;
    src: url("./Retronoid.ttf");
}

.title, .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: header;
    color: rgb(31, 196, 31);
    margin: -5px;
} 

.title{
    font-weight: 300;
    font-size: 200px;
    margin-top: 40px;
}

.subtitle{
    font-weight: 100;
    font-size: 100px;
}

nav{
    margin-top: 100px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: categories;
}

nav :hover{
    cursor: pointer;
}

main{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    font-family: header;
    color: rgb(31, 196, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

